<h2 class="text-center">New Product</h2>
<div class="row">
<div class="col-md-3">
</div>
<div class="col-md-6 col-md-offset-3">
<div class="jumbotron">

<form [formGroup]="angForm" (ngSubmit)="postdata(angForm)" autocomplete="off" >
<div class="form-group">
<label for="name">Prix</label>
<input type="text" name="Prix" formControlName="Prix" autocomplete="off" class="form-control input-sm" placeholder="Prix">
</div>
<div class="form-group">
<label for="fname">Type d'article</label>
<input type="text" name="Type" formControlName="Type" autocomplete="off" class="form-control input-sm" placeholder="Type d'article">
</div>
<div class="form-group">
<label for="email">Marque de l'article</label>
<input type="text" name="Marque" formControlName="Marque" autocomplete="off" class="form-control input-sm" placeholder="Marque">
</div>
<div class="form-group">
<label for="Password">Titre</label>
<input type="text" name="Titre" formControlName="Titre" autocomplete="off" class="form-control input-sm" placeholder="Nom de l'article">
</div>
<div class="form-group">
<label for="ville">Description</label>
<input type="text" name="Description" formControlName="Description" autocomplete="off" class="form-control input-sm" placeholder="Description">
</div>
<div class="form-group">
<label for="cp">Taille</label>
<input type="text" name="Taille" formControlName="Taille" autocomplete="off" class="form-control input-sm" placeholder="Taille">
</div>
<div class="form-group">
<label for="cp">Genre</label>
<input type="text" name="Genre" formControlName="Genre" autocomplete="off" class="form-control input-sm" placeholder="Genre">
</div>
<button type="submit" class="btn btn-success">Post</button>
</form>

<div class="mc">

    <div class="text-center">
      
        <label class="btn btn-default">
          Upload Images
          <input type="file" hidden (change)="uploadFile($event)">
          <div [innerHtml]='msg' *ngIf="msg" style="color: red;"></div>
	    <div><img class ="img"[src]="url" *ngIf="url"></div>
      <div><img class="img" src="assets/addImage.jpg" *ngIf="this.defaultImage"></div>
        </label>
      
      </div>
    </div>
</div>

</div>
<div class="col-md-3">
</div>
</div>