<h1>TABBER store</h1>
<form [formGroup]="angForm" (ngSubmit)="SearchBar(angForm)" autocomplete="off" class="signin-form" >
<div class="topnav">
  <a class="active" href="#home">Home</a>
  <a href="#about">About</a>
  <a href="#contact">Contact</a>
  <input type="text" placeholder="Search.." name="keyword" formControlName="keyword">
  <button type="submit" class="form-control btn btn-primary rounded submit px-3">Search</button>
</div>
</form>
  <section>

    <h5> Dynamic search results </h5>
   <input name="searchInput" [(ngModel)]="searchInput" type="text"  placeholder="Search for products" size="50" list="prdocuts" >
       <datalist id="prdocuts">
           <h6> Results </h6>
           <ul>
              
             <li *ngFor="let product of   
                AutoCompleteProducts | search: searchInput">

                <option value={{product}}></option>
             
             </li>
            
           </ul>
       </datalist>
   </section>
  


<div class="container">
  <div class="row row-cols-2">
  <div *ngFor="let i of Products">
  <div class="container page-wrapper">
          <div class="page-inner">
            <div class="row">
              <div class="el-wrapper">
                <div class="box-up">
                  <img class="img" src="assets/{{i.ID}}.png" onerror="if (this.src != 'assets/default.png') this.src = 'assets/default.png';">   
                  <div class="img-info">
                    <div class="info-inner">
                      <span class="p-name">{{i.Titre}}</span>
                      <span class="p-company">{{i.Marque}}</span>
                    </div>
                    <div class="a-size">Available sizes : <span class="size">S , M , L , XL</span></div>
                  </div>
                </div>
        
                <div class="box-down">
                  <div class="h-bg">
                    <div class="h-bg-inner"></div>
                  </div>
        
                  <a class="cart">
                     
                    
                   
                    <span class="price">{{i.Prix}}€</span>
                    <span class="add-to-cart">
                       <span class="txt"> <a class="nav-link" [routerLink]="['/userproductdetails', i.ID]" routerLinkActive="active">Buy</a></span>
                    </span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
  
       
        
          </div>
          
        </div>
    
  </div>
  